<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamersarioglu.myinfo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SimActivity"></activity>
        <activity android:name=".Activities.SensorsActivity" />
        <activity android:name=".Activities.CpuActivity" />
        <activity android:name=".Activities.MemoryActivity" />
        <activity android:name=".Activities.SystemAppsActivity" />
        <activity android:name=".Activities.UserAppsActivity" />
        <activity android:name=".Activities.BatteryActivity" />
        <activity android:name=".Activities.DisplayActivity" />
        <activity android:name=".Activities.DeviceIDActivity" />
        <activity android:name=".Activities.GeneralActvity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>